<!DOCTYPE html>
<html>

<head>
    <title>URL Shortner</title>
</head>

<body>
    <form method="POST">
        <input type="text" name="redirect_url" placeholder="Link to Short" required>
        <input type="text" name="short_name" placeholder="Short Name" required>
        <button type="submit">Short!</button>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <p class=flashes>
        {% for message in messages %}
        {% if message == "exists" %}
        This short name already exists, please try another name.
        {% else %}
        <a href="/{{ message }}" target="_blank">http://127.0.0.1:8000/{{ message }}</a>
        {% endif %}
        {% endfor %}
    </p>
    {% endif %}
    {% endwith %}

</body>

</html>